* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.barra {
    width: 100%;
    height: 74px;
    background-color: darkred;
    display: block;
    padding: 3px;
}

.esquerda {
    width: 40%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 42vh; 
    height: 100vh;
}

.direita {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}


h1 {
    color: rgba(206, 5, 5, 0.86);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

label{
    color:rgba(206, 5, 5, 0.86);
    font-size: 15px;
    font-weight: bold;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgba(206, 5, 5, 0.86);;
    border-radius: 5px;
    outline: none;
}

select {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgba(235, 22, 22, 0.86);;
    border-radius: 5px;
    outline: none;
}

.botao {
    background-color: rgba(237, 17, 17, 1);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}

.botao:hover {
    background-color: brown;
    transition: 0.9s;
}

.inactive {
    background: gray;
}

.save-button {
    margin-top: 10px;
    width: 120px;
    text-align: center;
}

.logo-img {
    width: 260px;
}

.rodape {
    background-color: black;
    color: white;
    padding: 40px 20px;
  }
  
  .rodape-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .socialicones a img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: transform 0.3s;
  }
  
  .socialicones a img:hover {
    transform: scale(1.1);
  }
  .info {
    text-align: right;
  line-height: 1.8;
  }
  
  .info a {
    color: #fff;
    text-decoration: underline;
  }
  
  .barraverm {
    background-color: #B90000;
    display: flex;
    justify-content: center;
  }
  
  .barraverm img {
    background-color: #B90000;
    width: 17vh;    
    margin-right: 10px;
  }
  .info {
    margin-left: 105px;
  }


@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 15px 0;
        margin-bottom: 35px;
    }

    .logo-img {
        width: 150px;
    }

    .container {
        width: 90%;
        max-width: 500px;
    }

    h1 {
        font-size: 22px;
    }

    input {
        font-size: 14px;
        width: 227px;
    }
    .save-button {
        width: 100%;
    }
}