* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.titulo {
    color: #CE0505;
    font-weight: bold;
    padding-top: 150px;
    font-size: 60px;
}

.subtitulo {
    color: #CE0505;
}

.email {
    margin: 30px auto; /* Centraliza horizontalmente */
    position: relative;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; /* Ajusta ao container */
    max-width: 300px; /* Define um tamanho máximo */
    border-radius: 5px;
    height: 45px; /* Garante que a altura seja suficiente */
}

.email img {
    width: 24px; /* Ajuste do tamanho da imagem */
    height: 24px;
    margin-right: 10px; /* Espaço entre a imagem e o input */
}

.email input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%; /* Mantém o input alinhado corretamente */
    font-size: 16px;
}

/* Ajuste no botão */
.btn {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #CE0505;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    font-size: 18px;
}

.btn:hover {
    background-color: #a00404;
}

/* Ajuste no campo de senha */
.senha {
    margin: 30px auto;
    width: 100%;
    max-width: 300px;
}

.senha input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.cadastre-se {
    color: red;
}

.logo {
    width: 600px;
}