* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.conteiner {
    display: flex;
    height: 100vh;
}


.painel-esquerdo {
    width: 40%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 80%;
    max-width: 315px;
    margin-bottom: 20px;
}


.painel-direito {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h2 {
    color: rgba(206, 5, 5, 0.86);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.campo-entrada {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(239, 0, 0, 1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.campo-entrada input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
}

input::placeholder {
    color: red;
}


.campo-entrada {
    position: relative;
    display: flex;
    align-items: center;
}

.campo-entrada input {
    width: 100%;
    padding-right: 40px;
}

.icone {
    margin-right: 10px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}



.icone {
    color: rgba(239, 0, 0, 1);
    font-size: 18px;
}

.botao {
    background-color: rgba(237, 17, 17, 1);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.botao:hover {
    background-color: brown;
    transition: 0.9s;
}

.oi {
    color: red;
}

@media (max-width: 1024px) {
    .conteiner {
        flex-direction: column;
    }

    .painel-esquerdo {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .painel-direito {
        width: 100%;
        padding: 20px;
    }

    h2 {
        font-size: 28px;
    }

    .campo-entrada {
        width: 80%;
        max-width: 280px;
    }

    .botao {
        width: 80%;
        max-width: 280px;
    }
}

@media (max-width: 480px) {
    .conteiner {
        flex-direction: column;
    }

    .painel-esquerdo {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .painel-direito {
        width: 100%;
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    .campo-entrada {
        width: 90%;
        max-width: 260px;
    }

    .botao {
        width: 90%;
        max-width: 260px;
    }

}