* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 15px 50px;
    color: white;
}

.logo {
    width: 20vh;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 632px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgba(255, 0, 0, 0.65);
}

.btn-entrar {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-entrar:hover {
    background-color: darkred;
}

.barra {
    width: 90%;
    height: 4px;
    background-color: red;
    margin: 10px auto;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.profile, .orders {
    width: 40%;
}

.divider {
    width: 2px;
    background-color: white;
    height: 100%;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.logout {
    display: block;
    margin-top: 10px;
    color: red;
    text-decoration: none;
}

.no-orders {
    color: red;
    font-weight: bold;
}

footer {
    background-color: red;
    padding: 20px;
    margin-top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-content p {
    font-weight: bold;
}

.cabecalhobotao{
    padding-right: 20px;
}